<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper   PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.react.sample.mapper.UserProfileMapper">	

	<select id="selectUserProfileCnt" resultType="Integer" parameterType="String">
		<![CDATA[
		SELECT count(*) cnt
		FROM thumb
		WHERE userId = #{userId}
		]]>
	</select>
	<select id="selectUserProfile" resultType="java.util.HashMap" parameterType="String">
		<![CDATA[
		SELECT *
		FROM thumb
		WHERE userId = #{userId}
		]]>
	</select>
	<update id="updateProfile" parameterType="java.util.HashMap">
		<![CDATA[
		UPDATE thumb
		SET imageFile = #{imageFile},
			uuid = #{uuid},
			orgname = #{orgname},
			regdate = sysdate()		
		WHERE userId = #{userId}		
		]]>
	</update>
	<insert id="insertProfile" parameterType="java.util.HashMap">
		<![CDATA[
		INSERT INTO thumb(uuid, orgname, userId, imageFile)
		VALUES(#{uuid}, #{orgname}, #{userId}, #{imageFile})
		]]>
	</insert> 
	<select id="selectphotoURL" resultType="java.util.HashMap" parameterType="String">
		<![CDATA[
		SELECT *
		FROM users
		WHERE id = #{userId}
		]]>
	</select>
</mapper>
