<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper   PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.react.sample.mapper.UserProfileMapper">	
	<select id="selectUserProfile" resultType="com.react.sample.service.vo.UserProfileVO" parameterType="String">
		<![CDATA[
		SELECT *
		FROM thumb
		WHERE userId = #{userId}
		]]>
	</select>
	<update id="updateProfile" parameterType="com.react.sample.service.vo.UserProfileVO">
		<![CDATA[
		UPDATE thumb
		SET imageFile = #{imageFile}
		WHERE uuid = #{uuid}
		AND userId = #{userId}
		
		]]>
	</update>
	<insert id="insertProfile" parameterType="com.react.sample.service.vo.UserProfileVO">
		<![CDATA[
		INSERT INTO thumb(uuid, orgname, userId, imageFile)
		VALUES(#{uuid}, #{orgname}, #{userId}, #{imageFile})
		]]>
	</insert> 
</mapper>
